body {
    background-color: aquamarine;
}

.speechBubble {
    width: 300px;
    margin: 50px auto;
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    position: relative;
}

.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #00bfb6;
    border-top: 15px solid #00bfb6;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.dots {
    position: fixed;
    display: flex;
    width: 150px;
    margin-top: -85px;
    left: 45%;
    justify-content: space-between;
    color: white;
    font-size: 30px;
}